/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #137fec;
}
.bg-dots {
  background-image: radial-gradient(circle, #283039 1px, transparent 1px);
  background-size: 1rem 1rem;
}
